.dice-container {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.button-container {
  margin: 20px;
}

.button-container > Button {
  padding: 25px;
  padding-right: 55px;
  padding-left: 55px;
}

.header-container {
  display: flex;
}

.variant-container > Button {
  margin-right: 5px;
}
