footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.footer-text {
  flex: 1;
  flex-grow: 1;
  font-size: small;
}

.footer-text > p {
  margin-top: 5px;
}

.link {
  font-size: larger;
  margin-right: 15px;
  color: #313131;
}
