.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: white;
  background-color: #ca3e47;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dice-logo {
  height: 50px;
}
